<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Top文章榜单
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-5 mb-4">Top Three Posts</h1>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div id="top-posts-chart" style="height: 400px;"></div>
            </div>
        </div>
    </div>
    {% block script %}
        <script>
            // 渲染图表函数
            function renderChart() {
                // 从 Django 模板中获取 JSON 数据
                var topPostsData = JSON.parse('{{ top_posts_json|safe }}');

                // 从 QuerySet 中提取文章标题和浏览量数据
                var titles = topPostsData.map(post => post.fields.title);
                var views = topPostsData.map(post => post.fields.total_views);

                // 初始化 ECharts 实例
                var chart = echarts.init(document.getElementById('top-posts-chart'));

                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: '热榜前三的文章如下'
                    },
                    xAxis: {
                        type: 'category',
                        data: titles
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: views,
                        type: 'bar'
                    }]
                };

                // 使用刚指定的配置项和数据显示图表
                chart.setOption(option);
            }

            // 调用函数以在页面加载时渲染图表
            renderChart();
        </script>

    {% endblock script %}
{% endblock content %}

