{% extends "base.html" %}
{% load staticfiles %}
{% load my_filters_and_tags %}

{% block title %}
    个人博客
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-8">
                    <nav aria-label="breadcrumb" style="background-color: transparent;">
                        <ol class="breadcrumb" style="background-color: transparent;">
                            <li class="breadcrumb-item">
                                <a href="{% url 'article:article_list' %}?search={{ search }}&column={{ column }}&tag={{ tag }}"
                                   style="color: black;">
                                    最新
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'article:article_list' %}?order=total_views&search={{ search }}&column={{ column }}&tag={{ tag }}"
                                   style="color: black;">
                                    最热
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'article:article_create' %}" style="color: black;">发布帖子</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'article:article_create_column' %}" style="color: black;">创建栏目</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card hvr-glow rounded" style="background-color: transparent;">
                            <div class="card-body" style="background-color: transparent;">
                                <p class="card-title text-muted">
                                    <i class="zi zi_bell" zico="铃铛" style="color: deepskyblue;"></i> 博主动态
                                </p>
                                大家踊跃发帖！！<br>
                                <p class="cark-text card-title text-muted mb-0 text-right">2024/4/29</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card hvr-glow rounded" style="background-color: transparent;">
                            <div class="card-body" style="background-color: transparent;">
                                <p class="card-title text-muted">
                                    <i class="zi zi_tmGithubsquare" zico="githubsquare"></i> 网站仓库地址
                                </p>
                                <a class="cark-text card-title text-muted mb-0 no-underline"
                                   href="https://www.github.com/shuoxiang666/boke">我的个人网站源码</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if search %}
            {% if articles %}
                <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
                <hr>
            {% else %}
                <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
                <hr>
            {% endif %}
        {% endif %}

        <div class="row mt-2">
            {% for article in articles %}
                {% if article.avatar %}
                    <div class="col-3">
                        <img src="{{ article.avatar.url }}"
                             alt="avatar"
                             style="max-width:100%; border-radius: 20px"
                        >
                    </div>
                {% endif %}

                <div class="col">
                    {% if article.column %}
                        <a role="button"
                           href="{% url 'article:article_list' %}?column={{ article.column.id }}"
                           class="btn btn-sm mb-2
                            {% if article.column.title == '优秀作品集' %}
                                btn-success
                            {% elif article.column.title == '生活瞬间' %}
                                btn-primary
                            {% elif article.column.title == '文学' %}
                                btn-warning
                            {% elif article.column.title == '其他' %}
                                btn-secondary
                            {% elif article.column.title == '小说' %}
                                btn-danger
                            {% endif %}
                        "
                        >
                            {{ article.column }}
                        </a>
                    {% endif %}

                    <span>
                        {% for tag in article.tags.all %}
                            <a href="{% url 'article:article_list' %}?tag={{ tag }}"
                               class="badge badge-secondary"
                            >
                                {{ tag }}
                            </a>
                        {% endfor %}
                    </span>

                    <h4>
                        <b>
                            <a href="{% url 'article:article_detail' article.id %}"
                               style="color: black;"
                            >
                                {% if article.belongs %}
                                    {{ article.belongs }}:
                                {% endif %}
                                {{ article.title }}
                            </a>
                        </b>
                    </h4>

                    <div>
                        <p style="color: gray;">
                            {{ article.main|slice:'100' }}...
                        </p>
                    </div>

                    <p>
                        <span>
                            <i class="zi zi_eye" zico="眼睛" style="color: rgb(49, 143, 202);"></i>
                            {{ article.total_views }}&nbsp;&nbsp;&nbsp;
                        </span>
                        <span>
                            <i class="zi zi_commentalt" zico="评论列表" style="color: yellowgreen;"></i>
                            {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
                        </span>
                        <span>
                            <i class="zi zi_clock" zico="时钟" style="color: rgb(170, 58, 105);"></i>
                            {{ article.created | timesince_zh }}&nbsp;&nbsp;&nbsp;
                        </span>
                        {% if article.belongs %}
                            <span>
                                <i class="zi zi_book" zico="书籍" style="color: burlywood;"></i>
                                {{ article.belongs }}&nbsp;&nbsp;&nbsp;
                            </span>
                        {% endif %}
                    </p>
                </div>

                <hr style="width: 100%;"/>
            {% endfor %}
        </div>
        <div class="dialog-container">
            <div class="dialog-text">欢迎你来到小新的个人博客！</div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            animatePage();
        });

        function animatePage() {
            const elements = document.querySelectorAll('.animate-me');
            elements.forEach(element => {
                element.classList.add('fadeInUp');
            });
        }
    </script>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url({% static 'img/25.jpg' %});
            background-size: contain;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position-x: 70%;
            background-position-y: 12vh;
        }

        .container {
            margin-top: 0px;
        }

        .card {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            transition: transform 0.3s ease-in-out;
            background-color: transparent;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .btn {
            padding: 8px 16px;
            border-radius: 20px;
            transition: background-color 0.3s ease-in-out;
        }

        .dialog-container {
            width: 20vw;
            height: 20vw;
            background: url({% static 'img/26.png' %}) no-repeat;
            background-size: contain;
            position: fixed;
            right: 7vw;
            bottom: 7vw;
            opacity: 1; /* 调整透明度的值，范围从 0（完全透明）到 1（完全不透明） */
        }

        .dialog-text {
            display: flex;
            justify-content: center; /* 在主轴上居中 */
            align-items: center; /* 在交叉轴上居中 */
            font-size: 23px; /* 设置字体大小 */
            color: black; /* 设置字体颜色 */
            padding-top: 100px;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    </style>
{% endblock content %}
